---
- name: join centos7 machine to AD

  hosts: all
  become: yes
  become_method: sudo

  vars_prompt:
    - name: "ad_password"
      prompt: "password for AD join:"
      private: yes

  tasks:

  - name: install the latest version of sssd
    yum:
      name: sssd
      state: latest

  - name: install the latest version of realmd
    yum:
      name: realmd
      state: latest

  - name: install the latest version of oddjob
    yum:
      name: oddjob
      state: latest

  - name: install the latest version of oddjob-mkhomedir
    yum:
      name: oddjob-mkhomedir
      state: latest

  - name: install the latest version of adcli
    yum:
      name: adcli
      state: latest

  - name: install the latest version of samba-common
    yum:
      name: samba-common
      state: latest

  - name: install the latest version of samba-common-tools
    yum:
      name: samba-common-tools
      state: latest

  - name: install the latest version of krb5-workstation
    yum:
      name: krb5-workstation
      state: latest

  - name: install the latest version of openldap-clients
    yum:
      name: openldap-clients
      state: latest

  - name: install the latest version of policycoreutils-python
    yum:
      name: policycoreutils-python
      state: latest

  - name: install the latest version of pexpect
    yum:
      name: pexpect
      state: latest

  - name: Check if machine is bound
    shell: /bin/bash -c "realm list | grep sssd"
    register: realmd_bound
    changed_when: false
    ignore_errors: true

  - name: Join system to AD and put the computer object in the Linux OU
    command: /bin/bash -c "echo '__sgttkcom' | /usr/sbin/realm join --user=ADMINISTRATOR@radiofreelol.com --computer-ou=OU=linux-machines,DC=radiofreelol,DC=com radiofreelol.com"
    when: realmd_bound is failed
